@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --radius: 0.625rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.9851 0 0);
  --foreground: oklch(0.2090 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2090 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1417 0.0044 285.8192);
  --primary: oklch(0.4969 0.1969 299.8283);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8914 0 0);
  --secondary-foreground: oklch(0.2102 0.0060 285.8742);
  --muted: oklch(0.9249 0 0);
  --muted-foreground: oklch(0.5103 0 0);
  --accent: oklch(0.9612 0 0);
  --accent-foreground: oklch(0.2090 0 0);
  --destructive: oklch(0.5767 0.2261 25.1552);
  --border: oklch(0.9067 0 0);
  --input: oklch(0.9197 0.0041 286.3186);
  --ring: oklch(0.4969 0.1969 299.8283);
  --chart-1: oklch(0.4969 0.1969 299.8283);
  --chart-2: oklch(0.6839 0.2089 37.0059);
  --chart-3: oklch(0.5270 0.0860 176.0159);
  --chart-4: oklch(0.8318 0.1641 80.0453);
  --chart-5: oklch(0.6478 0.1447 303.2696);
  --sidebar: oklch(0.9612 0 0);
  --sidebar-foreground: oklch(0.3705 0.0120 285.8008);
  --sidebar-primary: oklch(0.2103 0.0059 285.8835);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.9249 0 0);
  --sidebar-accent-foreground: oklch(0.2103 0.0059 285.8835);
  --sidebar-border: oklch(0.9278 0.0058 264.5314);
  --sidebar-ring: oklch(0.4969 0.1969 299.8283);
  --destructive-foreground: oklch(0.9785 0.0110 3.4880);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.00);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.1591 0 0);
  --card-foreground: oklch(0.9911 0 0);
  --popover: oklch(0.1591 0 0);
  --popover-foreground: oklch(0.9911 0 0);
  --primary: oklch(0.4969 0.1969 299.8283);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2994 0.0069 248.0584);
  --secondary-foreground: oklch(0.9461 0 0);
  --muted: oklch(0.2471 0.0024 247.9234);
  --muted-foreground: oklch(0.6830 0 0);
  --accent: oklch(0.2499 0.0030 196.9663);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6167 0.2295 23.1709);
  --border: oklch(0.2809 0 0);
  --input: oklch(0.2211 0.0097 294.7609);
  --ring: oklch(0.6066 0 0);
  --chart-1: oklch(0.4969 0.1969 299.8283);
  --chart-2: oklch(0.6478 0.1447 303.2696);
  --chart-3: oklch(0.5270 0.0860 176.0159);
  --chart-4: oklch(0.8318 0.1641 80.0453);
  --chart-5: oklch(0.6839 0.2089 37.0059);
  --sidebar: oklch(0.1913 0 0);
  --sidebar-foreground: oklch(0.9676 0.0013 286.3752);
  --sidebar-primary: oklch(0.4969 0.1969 299.8283);
  --sidebar-primary-foreground: oklch(0.9850 0 0);
  --sidebar-accent: oklch(0.2799 0.0015 197.0737);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.2809 0 0);
  --sidebar-ring: oklch(0.3494 0.1669 296.8854);
  --destructive-foreground: oklch(0.1642 0.0590 26.7046);
  --radius: 0.625rem;
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}